@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdLayout.cshtml";
}

<h2>Index</h2>

<div class="list_of_members">
    <div class="sales">
        <div class="icon">
            <i class="dollar"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.TongDoanhThu</h3>
            <p>Doanh Thu</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="new-users">
        <div class="icon">
            <i class="user1"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.TongTK</h3>
            <p>Tài Khoản</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="orders">
        <div class="icon">
            <i class="order"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.TongDH</h3>
            <p>Đơn Hàng</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="visitors">
        <div class="icon">
            <i class="visit"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.SoNguoiTruyCap</h3>
            <p>Người Truy Cập</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="visitors">
        <div class="icon">
            <i class="visit"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.SoNguoiTruyCap</h3>
            <p>Đang Online</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>


