
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center">ĐĂNG KÝ</h2>
<br />
<div class="row">
    <div class="offset-md-1 col-md-10">
        @using (Html.BeginForm("DangKy", "KhachHang"))
        {
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label for="name">Họ:</label>
                @Html.TextBox("Ho", null, new { @class = "form-control", @id = "ho", @Value = " " })
            </div>
            <div class="form-group">
                <label for="name">Tên Đệm:</label>
                @Html.TextBox("TenDem", null, new { @class = "form-control", @id = "tendem", @Value = " " })
            </div>
            <div class="form-group">
                <label for="name">Tên:</label>
                @Html.TextBox("Ten", null, new { @class = "form-control", @id = "name", required = "required" })
            </div>
            <div class="form-group">
                <label for="dangnhap">Số điện thoại:</label>
                @Html.TextBox("SDT", null, new { @class = "form-control", @id = "sdt", required = "required" })
            </div>
            <div class="form-group">
                <label for="matkhau">Mật khẩu:</label>
                @Html.Password("MatKhau", null, new { @class = "form-control", @id = "matkhau", required = "required" })
            </div>
            <div class="form-group">
                <label for="matkhau">Địa Chỉ:</label>
                @Html.TextBox("DiaChi", null, new { @class = "form-control", @id = "diachi", @Value = " " })
            </div>

            <button type="submit" class="btn btn-primary">ĐĂNG KÝ</button>
        }
    </div>
</div>
<br />

