<div class="col-md-3 side-bar">
    <div class="logo text-center">
        <a href="@Url.Action("Index", "Admin")"><img src="#" alt=""></a>
    </div>
    <div class="navigation">
        <h3>Tính năng</h3>
        <ul>
            <li><a href="#"><i class="chat"></i></a></li>
            <li><a href="@Url.Action("Index", "Admin")">Trang Chủ</a></li>
        </ul>
        <ul>
            <li><a href="#"><i class="art"></i></a></li>
            <li><a href="@Url.Action("Index", "KHACHHANGs")">Khách hàng</a></li>
        </ul>
        <ul>
            <li><a href="#"><i class="user"></i></a></li>
            <li><a href="@Url.Action("Index", "KHUYENMAIs")">Khuyến mãi</a></li>
        </ul>
        <ul>
            <li><a href="#"><i class="fat"></i></a></li>
            <li><a href="@Url.Action("Index", "PTTTs")">PTTT</a></li>
        </ul>
        <ul>
            <li><a href="#"><i class="speed"></i></a></li>
            <li><a href="@Url.Action("ThongKeTheoNgay", "ThongKe")">Thống Kê</a></li>
        </ul>
        @*<ul>
            <li><a href="#"><i class="setting"></i></a></li>
            <li><a href="#">Settings</a></li>
        </ul>*@
    </div>
    <div class="navigation">
        <h3>Navigation</h3>
        <ul>
            <li><a href="#"><i class="dash"></i></a></li>
            <li><a href="@Url.Action("Index", "LOAIs")">Loại</a></li>
        </ul>
        <ul>
            <li><a href="#"><i class="mail"></i></a></li>
            <li><a href="@Url.Action("Index", "SANPHAMs")">Sản phẩm</a></li>
        </ul>
        <ul>
            <li><a href="#"><i class="cal"></i></a></li>
            <li><a href="@Url.Action("Index", "NHACUNGUNGs")">Nhà cung ứng</a></li>
        </ul>
        <ul>
            <li><a href="#"><i class="page"></i></a></li>
            <li><a href="@Url.Action("Index", "DONHANGs")">Đơn hàng</a></li>
        </ul>
    </div>
    <div class="navigation">
        <h3>Khác</h3>
        <ul>
            <li><a href="#"><i class="rev"></i></a></li>
            <li><a href="@Url.Content("~/KhachHang/DangXuat")">Đăng xuất</a></li>
        </ul>
        @*<ul>
            <li><a href="#"><i class="pic"></i></a></li>
            <li><a href="#">Pictures</a></li>
        </ul>
        <ul>
            <li><a href="#"><i class="faq"></i></a></li>
            <li><a href="#">FAQs</a></li>
        </ul>*@
    </div>
</div>
