@using DryFood.Areas.Admin.Data
@model SANPHAM
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h1 style="color:red; text-align:center;">THÔNG TIN CHI TIẾT SẢN PHẨM</h1>*@
@*<br />
    <div class="row">
        <div class="offset-md-1 col-md-4">
            <img style="width: 100%;" src="~/Images/@Model.AnhSP" alt="">
        </div>
        <div class="col-md-6 details">
            <h3>Tên sản phẩm: @Model.TenSP</h3>
            <p style="text-align: justify">
                <span style="font-weight: bold">Loại :</span> @Model.LOAI.TenLoai
            </p>

            <p style="text-align: justify">
                <span style="font-weight: bold">Số Lượng:</span> @Model.SoLuong
            </p>

            <p style="text-align: justify">
                <span style="font-weight: bold; font-size: 26px">Giá Bán:</span>
                <sapn style="font-weight: bold; color: red; font-size: 26px"> @Model.GiaBan </sapn>
            </p>
            <a class="btn btn-success btn-sm" href="@Url.Action("ThemVaoGio", "Cart", new { sanPhamID = @Model.MaSP})">
            <span class="glyphicon glyphicon-shopping-cart"></span>  Thêm vào giỏ
            </a>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-1 col-md-10 details" style="margin-top: 10px;">
            <p style="text-align: justify">
                <span style="font-weight: bold">Mô tả:</span> @Model.MoTa
            </p>
        </div>
    </div>*@


<div class="hero-wrap hero-bread" style="background-image: url(../Theme/images/banner1.jpg);">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="#">Home</a></span> <span class="mr-2"><a href="index.html">Product</a></span> <span>Product Single</span></p>
                <h1 class="mb-0 bread">Product Single</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 ftco-animate">
                <a href="~/Images/@Model.AnhSP" class="image-popup"><img src="~/Images/@Model.AnhSP" class="img-fluid center" alt="Colorlib Template"></a>
            </div>
            <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                <h3>@Model.TenSP</h3>
                <div class="rating d-flex">
                    <p class="text-left mr-4">
                        <a href="#" class="mr-2">5.0</a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                    </p>
                    <p class="text-left mr-4">
                        <a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a>
                    </p>
                    <p class="text-left">
                        <a href="#" class="mr-2" style="color: #000;">@Model.SoLanBan <span style="color: #bbb;">Sold</span></a>
                    </p>
                </div>
                <p class="price"><span>Giá: @Model.GiaBan VNĐ</span></p>
                <p>
                    @Model.MoTa
                </p>
                <div class="row mt-4">

                    <div class="w-100"></div>
                    <div class="input-group col-md-6 d-flex mb-3">
                        <span class="input-group-btn mr-2">
                            <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
                                <i class="ion-ios-remove"></i>
                            </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
                        <span class="input-group-btn ml-2">
                            <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                                <i class="ion-ios-add"></i>
                            </button>
                        </span>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-md-12">
                        <p style="color: #000;"></p>
                    </div>
                </div>
                <p><a href="@Url.Action("ThemVaoGio", "Cart", new { sanPhamID = @Model.MaSP})" class="btn btn-black py-3 px-5">Add to Cart</a></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">Products</span>
                <h2 class="mb-4">Related Products</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="#" class="img-prod">
                        <img class="img-fluid" src="~/Theme/images/detail01.jpg" alt="Colorlib Template">
                        <span class="status">30%</span>
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="#">Chả lụa chay</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span class="mr-2 price-dc">75 000 VND</span><span class="price-sale">$80.00</span></p>
                            </div>
                        </div>
                        <div class="bottom-area d-flex px-3">
                            <div class="m-auto d-flex">
                                <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                    <span><i class="ion-ios-menu"></i></span>
                                </a>
                                <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                    <span><i class="ion-ios-cart"></i></span>
                                </a>
                                <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                    <span><i class="ion-ios-heart"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="#" class="img-prod">
                        <img class="img-fluid" src="~/Theme/images/detail02.jpg" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="#">Mắm thái chay</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>35 000 VNĐ</span></p>
                            </div>
                        </div>
                        <div class="bottom-area d-flex px-3">
                            <div class="m-auto d-flex">
                                <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                    <span><i class="ion-ios-menu"></i></span>
                                </a>
                                <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                    <span><i class="ion-ios-cart"></i></span>
                                </a>
                                <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                    <span><i class="ion-ios-heart"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="#" class="img-prod">
                        <img class="img-fluid" src="~/Theme/images/detail03.jpg" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="#">Sườn non chay</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>56 500 VNĐ</span></p>
                            </div>
                        </div>
                        <div class="bottom-area d-flex px-3">
                            <div class="m-auto d-flex">
                                <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                    <span><i class="ion-ios-menu"></i></span>
                                </a>
                                <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                    <span><i class="ion-ios-cart"></i></span>
                                </a>
                                <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                    <span><i class="ion-ios-heart"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="#" class="img-prod">
                        <img class="img-fluid" src="~/Theme/images/detail04.jpg" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="#">Dưa mắm chay</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>30 000 VNĐ</span></p>
                            </div>
                        </div>
                        <div class="bottom-area d-flex px-3">
                            <div class="m-auto d-flex">
                                <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                    <span><i class="ion-ios-menu"></i></span>
                                </a>
                                <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                    <span><i class="ion-ios-cart"></i></span>
                                </a>
                                <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                    <span><i class="ion-ios-heart"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






<!-- loader -->


<script src="~/Theme/js/jquery.min.js"></script>
<script src="~/Theme/js/jquery-migrate-3.0.1.min.js"></script>
<script src="~/Theme/js/popper.min.js"></script>
<script src="~/Theme/js/bootstrap.min.js"></script>
<script src="~/Theme/js/jquery.easing.1.3.js"></script>
<script src="~/Theme/js/jquery.waypoints.min.js"></script>
<script src="~/Theme/js/jquery.stellar.min.js"></script>
<script src="~/Theme/js/owl.carousel.min.js"></script>
<script src="~/Theme/js/jquery.magnific-popup.min.js"></script>
<script src="~/Theme/js/aos.js"></script>
<script src="~/Theme/js/jquery.animateNumber.min.js"></script>
<script src="~/Theme/js/bootstrap-datepicker.js"></script>
<script src="~/Theme/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="~/Theme/js/google-map.js"></script>
<script src="~/Theme/js/main.js"></script>
<script src="~/Theme/js/site.js"></script>



<script>
    $(document).ready(function () {

        var quantitiy = 0;
        $('.quantity-right-plus').click(function (e) {

            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            $('#quantity').val(quantity + 1);


            // Increment

        });

        $('.quantity-left-minus').click(function (e) {
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            // Increment
            if (quantity > 0) {
                $('#quantity').val(quantity - 1);
            }
        });

    });</script>




